@tailwind base;
@tailwind components;
@tailwind utilities;
.bgGradient{
    background: linear-gradient(to top left,#984D38,#181E41);
    background-size: 150%  150%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0%,100%{
        background-position: 0%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 100%;
    }
}